<div class="container">
  <div class="title-mid">
    <h1>Games</h1>
    <h4>Games manager portal</h4>
  </div>
  <div class="serch-info">
    <div class="input-group d-flex align-items-center justify-content-center mb-2 mt-2">
      <div class="d-flex">
        <input  id="input-search" type="text" class="form-control border border-danger border-3 w-75 m-1" placeholder="Search from..." aria-label="Search from..." aria-describedby="button-addon2">
        <button id="btn-new-game" type="button" class="btn btn-danger m-1 w-50">NEW GAME</button>
      </div>
    </div>
  </div>
</div>
<app-page-home-cards></app-page-home-cards>
