<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
<!-- Logo da Page - Navbar -->
    <a class="navbar-brand" href="#">
      <img src="../assets/porquinho_branco_horizontal.svg" alt="" width="40" height="34">
      <img src="../assets/tindin_branco_horizontal.svg" alt="" width="40" height="34">
    </a>

    <!-- campo Search da Page - Navbar -->
    <div class="input-group d-flex align-items-center justify-content-center mb-2 mt-2">
      <div class="position-relative w-25">
        <input type="text" class="form-control rounded-pill" placeholder="Search Game Here" aria-label="Search Game Here" aria-describedby="button-addon2">
          <div class="position-absolute top-50 end-0 translate-middle-y pe-1">
            <button class="btn btn-dark btn-sm rounded-pill border border-danger" type="button" id="button-addon2"><strong>Search</strong></button>
          </div>
      </div>
    </div>

    <!-- Botão de login do Navbar -->

    <button id="submit-btn" class="btn btn-light btn-lg d-flex align-items-center justify-content-center">
        <img src="../assets/login_user_avatar_icon.png" alt="" width="50" height="44">
    </button>
  </div>
</nav>



