<!-- Componente carossel da Page -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div id="imagens-car" class="carousel-inner">
    <div class="carousel-item active">
      <img id="carossel-img" src="../assets/assassin-s-creed.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img id="carossel-img" src="../assets/God-of-War-Ragnarok.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img id="carossel-img" src="../assets/game-variado.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"><div id="chevron"></div></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"><div id="chevron"></div></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
