.navegacao {
  color: #fff;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

#home {
  padding-right: 5px;
}

#name-game {
  padding-left: 5px;
}

.master-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container {
  margin-right: 20rem;
}

#card {
  width: 500px;
  margin-left: 5rem;
}

.title-game {
  display: flex;
}

.raiting {
  height: 30px;
  width: 60px;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 600;
  margin-right: 5px;
  background-color: rgb(252, 68, 68);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;


}

.title-game-text,
.game-text-resume,
#input-genres,
#input-studio,
#input-company,
.game-text-price,
.game-text-year {
  background-color: rgb(63, 64, 63);
  color: #fff;
}

#description-form {
  height: 100px;
  background-color: rgb(63, 64, 63);
}

#descricao {
  height: 100px;
  background-color: rgb(63, 64, 63);
  color: #fff;
}

.cards-info {
  color: #fff;
}


#image-card {
  height: 32.5rem;
  width: 457px;
}

hr {
  border: 1px solid #fff;
  background: #fff;
  max-width: 100%;
}

.save-game {
  background-color: rgb(252, 68, 68);
  color: #fff;
}

.cancel {
  background-color: rgb(63, 64, 63);
  color: #fff;
}
