<div class="master-container">
  <div id="card" class="card">
    <img id="image-card" src="../../../assets/days-gone.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <!-- imagem do card -->
      <!-- <img id="image-card" src="../../../assets/days-gone.jpg" class="card-img-top" alt="..."> -->
      <!-- carousel do card -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/assassin-s-creed.jpg" class="d-block w-25" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/God-of-War-Ragnarok.webp" class="d-block w-25" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/game-variado.webp" class="d-block w-25" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="title-card">
      <div class="title-game">
        <span class="raiting">7,5/10</span>
        <p class="h3">Name of Game Here</p>
      </div>
      <p class="h6">Resume game here limited of one line.</p>
    </div>
    <hr>
    <div class="cards-info">
      <div><span class="Ganres">Strategy</span></div>
      <div><span class="Studio">Apple</span></div>
      <div><span class="Productor">Warner 18</span></div>
      <div><span class="Total-votes">800</span></div>
      <div><span class="Company">YXZ Company</span></div>
      <div><span class="Platforms">XBOX, XBOX ONE, XBOX and SerieX</span></div>
      <div><span class="Tags">#good games and #design nice</span></div>
    </div>
    <hr>
    <div class="cards-price">
      <div><span class="price">Mediun Price <span id="valor">$10,00</span></span></div>
      <div><span class="info-price">Release date 01/01/2022</span></div>
      <div><button class="vote-now" type="submit">Vote Now</button></div>
    </div>
  </div>
</div>
